
.person-icon-form {
    width: 60px;
    border-radius: 50px;
    margin-right: 10px;
}

.open-post-form {
    color: #b5b4b4;
    background: #f0f2f5;
    border-radius: 20px;
    align-items: center;
    display: flex;
    width: 700px;
    height: 10px;
    font-size: 25px;
    position: relative;
    // top: 200px;
    // right: 450px;
    // left: 450px;
    padding: 20px;
}

.around-the-form {
    background: white;
    border-radius: 20px;
    align-items: center;
    display: flex;
    width: 700px;
    height: 60px;
    font-size: 25px;
    position: relative;
    top: 200px;
    left: 400px;
    padding: 20px;
    border: 1px solid #c1c0c0;
}

.open-post-form:hover {
    cursor: pointer;
    background: #d4d4d459;
}


.post-form {
    border: 1px solid lightgray;
    border-radius: 5px;
    background: white;
}

.create-post {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
}

.post-profile-head {
    margin-bottom: 10px;
    font-size: 20px;
}

.post-form textarea {
    border: none;
    font-size: 26px;
}

.break {
    border: 1px solid lightgray;
    margin-bottom: 15px;
}

.post-button {
    text-align: center;
    border: none;
    border-radius: 10px;
    font-weight: 650;
    font-size: 15px;
    margin-left: 10px;
    color: white;
    background-color: #297ff0;
    margin-bottom: 10px;
    width: 95%;
    height: 35px;
}

.close-post {
    position: absolute;
    right: -200px;
    width: 25px;
    font-size: 25px;
    margin-top: -15px;
    top: 45px;
    left: 220px;
    text-align: center;
}

.close-post:hover {
    cursor: pointer;
    background: lightgray;
    border-radius: 10px;
}

.post-button:hover {
    cursor: pointer;
    background: #71a9f3;
}


.after-post {
    top: 300px;
    left: 405px;
    position: relative;
}

.after-post div {
    border: 1px solid #c1c0c0;
    font-size: 20px;
    padding: 10px;
    width: 700px;
    // height: 200px;
    background: white;
    border-radius: 10px;
    margin-bottom: 50px;
}


.person-icon {
    width: 30px;
    border-radius: 50px;
}

.like-and-comment {
    display: flex;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgray;
    margin-top: 40px;
    justify-content: space-around;
    color: #a2a1a1;
}

.like-and-comment p {
    margin: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
}

.like-and-comment p:hover {
    background: #eaeaeab5;
    cursor: pointer;
    border-radius: 10px;
}

.post-body {
    font-size: 15px;
    padding-top: 20px;
}

.poster-name {
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
}

.contacts {
    position: absolute;
    left: 1360px;
}

.contacts h1 {
    font-size: 20px;
    color: #8e8e8e;
    font-family: sans-serif;
}

.contacts p {
    padding: 10px;
}

.time-post {
    font-size: 13px;
    color: #b0b3b8;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.earth {
    width: 25px;
}

.comment-form {
    background: #f0f2f5;
    border-radius: 20px;
    /* align-items: center; */
    /* display: flex; */
    width: 600px;
    height: 20px;
    font-size: 15px;
    /* position: relative; */
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

.comment {
    display: flex;
    flex-direction: column;
    background: #f0f2f5;
    border-radius: 20px;
    // margin-bottom: 20px;
    margin-top: 5px;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 10px;
}

.pic-comment-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-comment {
   padding-top: 20px;
}

.one-more-flex {
    display: flex;
}

.comment-name {
    font-size: 15px;
    font-weight: bold;
    // padding-left: 5px;
}

.comment-body {
    font-size: 15px;
    line-height: 2;
}

.comment-delete {
    border: none;
    color: #0726d0;
    font-size: 11px;
    // width: 0px;
    background: none;
    // display: contents;
    position: relative;
    bottom: 5px;
    left: 5px;
}

.comment-delete:hover {
    cursor: pointer;
}

.pic-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.pic-comment img{
    width: 40px;
    border-radius: 50px;
    height: 40px;

}