.nav-top {
    display: flex;
    justify-content: space-between;
    background: white;    
    padding-top: 10px;
    border: 1px solid rgb(236, 235, 235);
    position: fixed;  
    width: 100%; 
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.13);
    z-index: 9;
}


.nav-top img {
    // width: 60px;
    height: 30px;
    padding: 10px;
}

.m-s {
    display: flex;
}
.m-s img {
    // width: 100px;
    height: 50px;
    margin-right: 50px;
    margin-left: 20px;
}

.search-icon {
    z-index: 100;
}

.search {
    width: 230px;
    border-radius: 20px;
    height: 30px;
    margin-left: -60px;
    margin-top: 20px;
    background: #f0f2f5;
    border: none;
    text-align: center;
}

.search:focus {
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}

.h-v-g {
    margin: 7px;
}

// .h-v-g img{
//     // margin-left: 30px;
//     // padding-right: 30px;
//     // padding-left: 30px;
// }

.m-b-d {
    margin: 7px;
    display: flex;
}

.m-b-d img{
    // margin-right: 50px;
    background: #f0f2f5;
    border-radius: 50px;
}


.h-v-g img:hover {
    cursor: pointer;
    background: #dcdada;
    color: rgb(25, 114, 216);
    // border-bottom: 3px solid rgb(25, 114, 216);
    border-radius: 6px;
}

.m-s img:hover {
    cursor: pointer;
    background: #dcdada;
    color: rgb(25, 114, 216);
    // border-bottom: 3px solid rgb(25, 114, 216);
    border-radius: 6px;
}

.m-b-d img:hover {
    cursor: pointer;
    background: #dcdada;
    color: rgb(25, 114, 216);
    // border-bottom: 3px solid rgb(25, 114, 216);
    border-radius: 50px;
}

.nav-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background: rgb(240, 239, 239);
    margin-top: 80px;
    position: fixed;
    z-index: 20;
    
}

.nav-side img {
    // height: 30px;
    /* padding-top: 50px; */
    margin-left: 10px;
    // margin-top: 30px;
    text-align: center;
    padding-top: 10px;
}

.linkedin-icon {
    height: 35px;
    padding-top: 10px;
}

.github-icon {
    height: 40px;
    padding-top: 10px;
}

.nav-side p {
    // font-size: 15px;
    // font-family: sans-serif;
    // margin-bottom: 50px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.nav-side img:hover {
    cursor: pointer;
    background: rgb(230, 228, 228);
}
.nav-side p:hover {
    cursor: pointer;
    background: rgb(230, 228, 228);
}

.logout-nav {
    // width: 60px;
    // height: 30px;
    // padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    // height: 20px;
    height: 30px;
    padding: 10px;
        margin-left: -120px;
}

.logout-nav:hover {
    cursor: pointer;
    background: rgb(230, 228, 228);
    // color: rgb(25, 114, 216);
    // border-bottom: 3px solid rgb(25, 114, 216);
    border-radius: 6px;
}

.profile-nav {
    display: flex;
}

.flex-profile {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    align-items: center;
    /* width: 100px; */
    margin-right: -100px;
    height: 47px;
    font-weight: bold;
    margin-top: 10px;
    padding-right: 5px;
}

.flex-profile:hover {
    cursor: pointer;
    background: #dcdada;
    color: #1972d8;
    border-radius: 6px;
}

.nobg {
    background: none;
}

.defend-icon {
    height: 60px;
    // margin-top: -20px;
}