.nav-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;    
    padding-top: 10px;
    border: 1px solid rgb(230, 228, 228);
}


.nav-top img {
    width: 20px;
    height: 20px;
}

.m-s img {
    width: 40px;
    height: 40px;
    margin-right: 50px;
    margin-left: 20px;
}

.h-v-g img{
    margin-left: 50px;
}

.m-b-d img{
    margin-right: 50px;
}


.nav-top img:hover {
    cursor: pointer;
    background: rgb(230, 228, 228);
}

.nav-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(240, 239, 239);
    height: 1000px;
}

.nav-side img {
    width: 30px;
    height: 30px;
    padding-top: 50px ;
    margin-left: 10px;
}

.nav-side p {
    font-size: 15px;
    font-family: sans-serif;
}

.nav-side img:hover {
    cursor: pointer;
    background: rgb(230, 228, 228);
}