.profile-icon {
    height: 200px ;
    border-radius: 100px;
    border: 8px solid white;
}

// .full-profile {
//     // position: relative;
//     // left: 700px;
//     // top: 200px;
// }

.pic-name {
    text-align: center;
    position: relative;
    right: 30%;
    background: #f0f2f5;
    padding-top: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #efefef;
    bottom: 50px;
    width: 900px;
}

.white {
    width: 100%;
    background: white;
    padding-left: 1250px;
    padding-top: 200px;
    position: relative;
    right: 450px;
}

.profile-name {
    position: relative;
    left: 10px;
    font-size: 30px;
    font-weight: bold;
}

.under-name {
    display: flex;
    padding: 20px;
    align-items: center;
}

.about-stuff {
    display: flex;
    justify-content: space-between;
    width: 400px;
    position: relative;
    /* padding: 40px; */
    color: gray;
    right: 33%;
}

.about-stuff li:hover {
    cursor: pointer;

}

.buttons-not-work {
    position: relative;
    right: 13%;
}

.profile-break {
border: 1px solid lightgray;
    margin-bottom: 15px;
    position: relative;
    right: 30%;
    margin-top: 40px;
    width: 900px;
}

.add-story {
    background-color: #1877f2;
    color: white;
    border-radius: 6px;
    /* font-size: 20px; */
    /* line-height: 48px; */
    height: 40px;
    margin: 10px;
    border: none;
    padding: 10px;
    font-weight: bold;
}

.edit-profile {
    font-size: 16px; 
    /* color: black; */
    font-weight: bold;
    /* height: 40px; */
    /* width: 150px; */
    /* margin-bottom: 5px; */
    /* position: absolute; */
    border-radius: 6px;
    /* bottom: 10px; */
    /* right: 10px; */
    background-color: #f2f2f2;
    padding: 10px;
    /* transition: filter 0.2s; */
    border: none;
}

.photo-grid {
    padding: 20px;
    background: white;
    width: 400px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #dad8d8;
    bottom: 100px;
    position: relative;
}

.photos img {
    width: 150px;
    padding: 20px;
    border-radius: 10px;
}

.photo-head {
    font-weight: bold;
    font-size: 25px;
}

.friends-grid {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 100px 100px 100px;
    padding: 20px;

}

.friend-pic {
    color: #444444;
    text-align: center;
}

.friends-box {
        background: white;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* flex-direction: row; */
    /* display: grid; */
    /* grid-template-columns: 120px 120px 120px; */
    /* grid-template-rows: 100px 100px 100px; */
    width: 400px;
    margin: 100px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #dad8d8;
    position: relative;
    bottom: 120px;
}

 .after-post-profile {
    bottom: 900px;
    left: 750px;
    position: relative;
    z-index: 8;
 }

  .after-post-profile > div {
      
      border: 1px solid #c1c0c0;
        font-size: 20px;
        padding: 10px;
        width: 700px;
        background: white;
        border-radius: 10px;
        margin-bottom: 50px;
}  

.around-the-form-profile {
    background: white;
    border-radius: 20px;
    align-items: center;
    display: flex;
    width: 700px;
    height: 60px;
    font-size: 25px;
    position: relative;
    bottom: 1000px;
    left: 745px;
    padding: 20px;
    border: 1px solid #c1c0c0;
}

.profile-pics-friends {
position: relative;
    left: 150px;
    /* bottom: 355px; */
    top: 70px;
}

body {
        overflow-x: hidden;
}

.around-the-form-profile-2 {
    position: relative;
    bottom: 800px;
    background: white;
    border-radius: 20px;
    align-items: center;
    display: flex;
    width: 700px;
    height: 60px;
    font-size: 25px;
    left: 745px;
    padding: 20px;
    border: 1px solid #c1c0c0;
    margin-bottom: 200px;
}

.pro-around-not-user {
    position: relative;
    bottom: 470px;
}

.pro-around-user {
    position: relative;
    bottom: 270px;
}
