.title {
    color: #3973fa;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.desc {
    font-size: 24px;
    line-height: 28px;
    width: auto;
}

.login {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px 2px #cecccc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: auto;
}

.ep {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ep input {
    border: 1px solid #cecccc;
    padding: 15px;
    margin-bottom: 10px;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
}

.ep input::placeholder {
    color: rgba(153, 153, 153, 0.945);
} 

.blue {
    display: flex;
    flex-direction: column;
}

.blue button {
    
    background-color: #1877f2;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding:  0 16px;
    width: 350px;
    margin: 10px;
    border: none;

}

.blue button:hover {
    cursor: pointer;
}


.border {
    border-top: 1px solid #cecccc;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.new {
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
}

.new:hover {
    cursor: pointer;
}

.splash {
    background: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    height: 560px;
}

.error-login {
    color: #f02849;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-top: 8px;
    text-align: left;
    padding-bottom: 10px;
}



// SIGNUP

.modal-background {
  position: fixed;
  background: rgba(255, 255, 255, 0.575);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.modal-child {
    position: absolute;
    top: 80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    left: 50%;
    right: 50%;
}

.signup-form {
    width: 432px;
    box-shadow: 3px 3px 8px 2px #cecccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
}

.fullname {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin-bottom: 15px;
}

.fullname input {
    margin-right: 10px;
}

.text input{
    background-color: #d3d3d338;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    line-height: 16px;
    font-family: sans-serif;
    border: 1px solid #ccd0d5;
    
}

.oneline input {
    // margin-bottom: 15px;
    width: 91.5%;
}

.pass {
    margin-bottom: 15px;
}

.sign-head {
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.su {
    font-size: 32px;
    font-family: sans-serif;;
    font-weight: bold;
}

.easy {
    color: #606770;
    font-family: sans-serif;;
    font-size: 15px;
    margin-top: 5px;
}

.footer {
    color: #777;
    font-size: 11px;
}

.bday, .gender, .footer {
    margin-bottom: 15px;
}

.close {
    position: absolute;
    right: -200px;
    width: 25px;
    font-size: 25px;
    margin-top: -15px;
}

.close:hover {
    cursor: pointer;
}

.splash-footer {
    //  color: gray;
    // display: flex;
    // flex-direction: row;
    // background: white;
    // padding-bottom: 90px;
    // padding-top: 5px;
    // padding-left: 10px;
    color: gray;
    width: 100%;
    background: white;
    display: flex;
    padding: 10px 0 100px 5px;
    position: absolute;
    bottom: 0px;
}

.splash-footer p, a {
    margin-right: 20px;
}

.mash-splash {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.break-signup {
    // border: 1px solid #ecebeb;
    width: 107%;
    padding: 1px 0 0 0;
    background-color: #dedede;
}

.bday {
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
    border: 1px solid #ccd0d5;
    height: 18px;
    color: #0d0d0e;
    width: 362px;
    right: 6px;
    position: relative;
}

.gb-label {
    color: #717171;
    font-size: 13px;
    position: relative;
    right: 176px;
    margin-bottom: 3px;
}

.gender {
    display: flex;
    width: 390px;
    position: relative;
    right: 6px;
    justify-content: space-evenly;
}

.gender label {
    box-sizing: border-box;
    height: 36px;
    width: 125px;
    border-radius: 6px;
    color: #0d0d0e;
    font-size: 15px;
    padding-left: 8px;
    border: 1px solid #ccd0d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.sign-up-btn {
    height: 36px;
    width: 190px;
    background: #30b116;
    color: white;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    font-weight: bold;
}

.sign-up-btn:hover {
    cursor: pointer;
}

.lab-b {
     color: #717171;
    font-size: 13px;
    position: relative;
    right: 173px;
    margin-bottom: 3px;
}